<%-include("include/_booking_header")%>

	<div class="container1">
		<div class="container-time">
				<h2 class="heading">Time Open</h2>
				<h3 class="heading-days">Monday-Friday</h3>
				<p>10am - 5pm</p>
		</div>
		<div class="container-form">
				<form action="#">
					<h2 class="heading heading-yellow">Book Appointment</h2>

					<div class="form-field">
						<p>Full Name</p>
						<input type="text" placeholder="Your Name">
					</div>
					<div class="form-field">
						<p>Email</p>
						<input type="email" placeholder="Your email">
					</div>
					<div class="form-field">
						<p>Contact number</p>
						<input type="email" placeholder="Your number">
					</div>
					<div class="form-field">
						<p>Date</p>
						<input type="date">
					</div>
					<div class="form-field">
						<p>Time</p>
						<select name="time" id="#">
							<option value="1">10:00AM</option>
							<option value="2">10:30AM</option>
							<option value="3">11:00AM</option>
							<option value="4">11:30AM</option>
							<option value="5">11:30AM</option>
							<option value="6">1:00PM</option>
							<option value="7">1:30PM</option>
							<option value="8">2:00PM</option>
							<option value="9">2:30PM</option>
							<option value="10">3:00PM</option>
							<option value="11">3:30PM</option>						
							<option value="12">4:00PM</option>
							<option value="13">4:30PM</option>



						</select>
					</div>
					<div class="form-field">
						<p>What procedure?</p>
						<select name="procedure" id="#">
							<option value="1">Fillings</option>
							<option value="2">Root Canal</option>
							<option value="3">Consultation</option>
							<option value="4">Fixing Bridge</option>
							<option value="5">Dental Implant</option>
							<option value="6">Dental Crown</option>
							<option value="7">X-Ray</option>
							<option value="8"> Teeth Whitening</option>
							<option value="9">Dental Brace</option>
							<option value="10">Tooth Extraction</option>
							<option value="11">Scaling</option>						
							<option value="12">Others</option>
						</select>
					</div>

					<button class="btn">Submit</button>
				</form>
		</div>
	</div>

	
</body>
</html>

<!-- include footer -->
<%-include('include/_footer')%>
<!-- include footer --> 