 @import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap');

:root{
    --dark: #2b2d42;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

.container{
    max-width: 20%;
    margin: auto;

}

nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1EBEB6;
    z-index: 1;
 
}

.right-nav{
    text-align: left;
}

.right-nav ul{
    margin-left: 30px;
}

.right-nav ul li{
    list-style: none;
    display: inline-block;
    margin:  0 20px;
}

.right-nav ul li a{
    text-decoration: none;
    color: white;

}

.left-nav a{
    color: #fff;
    margin: 0 30px;
}
.logoutBtn{
    font-size: 15px;
    font-weight: bold;
    padding: 8px 20px;
    width: 140px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    color: #1EBEB6;
    margin-right: 50px;
    cursor: pointer;
}

