
 
 <!-- form handling-->
<div class="form-container">
 <form action="/api/appointment" method="POST" id="add_appointment">
    <div class="new_appointment">
        <div class="col-two">
            <div class="form-group">
                <label for="pID" class="text-light">Patient ID</label>
                <input type="hidden" name="id" value="">
                <input type="number" name="pID" value="" required>
            </div>
            <div class="form-group">
                <label for="aID" class="text-light">Appointment ID</label>
                <input type="number" class="no-border" name="aID" value="0001">
            </div>
        </div>
        <div class="col-three">
            <div  class="form-group">
                <label for="fname" class="text-light">First Name </label>
                <input type="text" name="fname" value="" required>
            </div>
            <div  class="form-group">
                <label for="lname" class="text-light">Last Name </label>
                <input type="text" name="lname" value="" required>
            </div>
            <div  class="form-group">
                <label for="mname" class="text-light">Middle Name </label>
                <input type="text" name="mname" value="" required>
            </div>
        </div>
        <div class="col-two">
            <div  class="form-group">
                <label for="adate" class="text-light">Appointment Date</label>
                <input type="date" name="adate" placeholder="dd-mm-yyyy" value="" required>
            </div>
            <div  class="form-group">
                <label for="atime" class="text-light">Appointment Time </label>
                <input type="time" name="atime" placeholder="hh:mm pm/am" value="" required>   
            </div>
        </div>

        <div class="col-two">
            <div  class="form-group">
                <label for="procedure" class="text-light">Procedure </label>
                <input type="text" name="procedure" value="" required>   
            </div>
            <div  class="form-group">
                <label for="p_cnum" class="text-light">Contact Number </label>
                <input type="number" name="p_cnum" value="" required>
            </div>
        </div>
      
    
        </div>
        <div class="form-group al-end">
            <button type="submit" class="btn text-style text-uppercase update">Submit</button>
        </div>  
</form>
</div>
