@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root{
    --white: #ffff;
    --bg-header: #1EBEB6;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body{
    width: 100%;
}

/* Typography */

.main-title, .main-info{
    color: var(--bg-header);
}

.main-title{
    margin-top: 2rem;
}

.main-info{
    padding: 1.75rem;
}

.service-name{
    font-weight: 500;
}

.info{
    text-align: start;
}

/* Body Parts*/

header{
    background-color: var(--bg-header);
    font-size: 1rem;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    text-align: center;
}

/* Image */

img{
    width: 80px;
    margin: 1rem;
}


/* Navigation */

nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1EBEB6;
    z-index: 1;
 
}

.right-nav{
    text-align: left;
}

.right-nav ul{
    margin-left: 30px;
}

.right-nav ul li{
    list-style: none;
    display: inline-block;
    margin:  0 20px;
}

.right-nav ul li a{
    position: relative;
    text-decoration: none;
    color: white;

}


.left-nav a{
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    cursor: default;
}
.login-logoutBtn{
    font-size: 15px;
    font-weight: 600;
    padding: 8px 20px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color:#1EBEB6;
    margin-right: 50px;
    cursor: pointer;
}

.login-logoutBtn:hover{
    
    background-color: rgba(255, 255, 255, 0.9);

  
}



@media only screen and (max-width: 800px){
    header{
        flex-direction: column;
    }

    nav ul{
        flex-direction: column;
    }
    
    nav ul li{
        margin: 2rem 0;
    }
    
    header{
        border-bottom-right-radius: 4rem ;
    }
}

/* Body */

.container{
    width:100%;
   
    margin: 0 auto;
}

.grid-container{
    width:80%;
    margin: 0 auto;
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item{
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-item:nth-child(even){
    background-color: var(--bg-header);
    color: var(--white);
}

.grid-item:nth-child(odd){
    background-color: var(--white);
    color: var(--bg-header);
    
}

.grid-item:hover{
    transform: scale(1.02);

}

.row{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


@media only screen and (min-width: 550px) and (max-width: 900px){
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media only screen and (max-width: 549px){
    .grid-container{
        grid-template-columns: 1fr;
    }
}


