<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment System</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@700&family=Roboto:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>
   <!-- Header --> 
   <header>
    <nav>
        <ul>
            <li><a href="">Requests</a></li>
            <li><a href="">Appointment <i class="fa-solid fa-caret-down"></i> </a></li>
            <li><a href="">Patient <i class="fa-solid fa-caret-down "></i></a></li>
            <li><a href="">Employee</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="">Inventory</a></li>
            <li><a href="">Finance</a></li>
            <li><button class="logout-btn">Logout</button></li>
        </ul>
    </nav>
</header>
<main id="site-main">
    <div class="box-nav d-flex justify-between">
        <div class="filter">
        <a href="/"><i class="fas fa-angle-double-left"></i>Back</a>
    </div>
</div>
<div class="container">
    <div class="form-title">
        <h1 class="text-style text-uppercase text-center">New Patient History</h1>
    </div>
    <div class="container_new-patient-history">
        <div class="form-container">
            <form action="/api/history" method="POST" id="add_history">
                <div class="new_history">
                    <div class="col-two">
                        <div class="form-group">
                            <label for="transNo" class="text-light">Transaction Number:</label>
                            <input type="hidden" name="id" value="">
                            <input type="number" name="transNo" value="100" required>
                        </div>
                        <div class="form-group">
                            <label for="phdate" class="text-light">Date: </label>
                            <input type="date" class="no-border" placeholder="dd-mm-yyyy" name="phdate" required>
                        </div>
                    </div>
                    <div class="col-two">
                        <div  class="form-group">
                            <label for="toothNo" class="text-light">Tooth Number: </label>
                            <input type="text" name="toothNo" value="" required>
                        </div>
                        <div  class="form-group">
                            <label for="procedure" class="text-light">Procedure: </label>
                            <input type="text" name="procedure" value="" required>
                        </div>
                    
                    </div>
                    <div class="col-one">
                        <div  class="form-group">
                            <label for="payments" class="text-light">Payment:</label>
                            <input type="number" name="payments" value="" required>
                        </div>
                    </div> 
                    </div>
                    <div class="form-group al-end">
                        <button type="submit" class="btn text-style text-uppercase update">Submit</button>
                    </div>  
            </form>
            </div>
        
    </div>
</div>
</main>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/index.js"></script>

</body>
</html>