<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOOTHFULLY YOURS</title>
    <link rel="stylesheet" href="/css/landing-account.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="right-nav">
                <ul>
                    <li><a href="/route/appointmentRequest_body">Home</a></li>
                    <li><a href="/route/about-us_body">About Us</a></li>
                    <li><a href="">My Profile</a></li>
                    <li><a href="">Appointment</a></li>
                    
                </ul>
            </div>

            <div class="left-nav">
                <a href="">(+639) 12 345 6789</a>
                <a href="/route/logout">
                <button type="button" class="logoutBtn"> Logout</button>
                </a>
            </div>
        </nav>
