<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/my-profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <title>my Profile</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="landing-account.html">Home</a></li>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="my-profile-medical.html">My Profile</a></li>
                <li><a href="appointment.html">Appointment</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="">(+639) 12 345 6789</a></li>
                <li><button class="logout-btn">Logout</button></li>
            </ul>
        </nav>
    </header>