*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    align-items: center;
}

nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1EBEB6;
    z-index: 1;
 
}

.right-nav{
    text-align: left;
}

.right-nav ul{
    margin-left: 30px;
}

.right-nav ul li{
    list-style: none;
    display: inline-block;
    margin:  0 20px;
}

.right-nav ul li a{
    position: relative;
    text-decoration: none;
    color: white;

}


.left-nav a{
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    cursor: default;
}
.logoutBtn{
    font-size: 15px;
    padding: 8px 20px;
    width: 140px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #1EBEB6;
    color: #fff;
    margin-right: 50px;
    cursor: pointer;
}

.bodyPage{
    width: 100%;
    min-height: 100vh;
    position: relative;
    justify-content: space-between;
    color:#1EBEB6;
}

.left-body{
    position: absolute;
    left: 5%;
    top: 10%;
}

.left-body .companyName{
    color: #81CFCF;
    font-size: 22px;
}

.left-body .intro1{
    font-size: 80px;
    margin-left: 10px;
}

.left-body .intro2{
    margin-top: 20px;
    font-weight: 300;
}

.location{
    display: flex;
    margin-top: 20px;
    margin-left: 70px;
    align-items: center;
}

.icon-location{
    width: 40px;
    height: 40px;
    color: #1EBEB6;
}

.location a{
    color: #81CFCF;
}

.right-body{
    position: absolute;
    left: 55%;
    top: 10%;

}

.book-container{
    width: 500px;
    height: 520px;
    background: #1EBEB6;
    border-radius: 20px;
    border: none;
}

.book-container h3{
    font-size: 22px;
    margin: 35px 0;
    text-align: center;
    color: #fff;
}
.book-container p{
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 27px;
}

.input-field{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.input-field input{
    padding: 10px 30px;
    width: 350px;
    border: none;
    margin: 5px 0;
    border-radius: 15px;
}

.input-field input::placeholder{
    color: #B9BBC2

}

.input-field .message{
    height: 100px;
    
}

.book{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px  0;
    background: #fff;
    color: #1EBEB6;
    border: none;
    text-align: center;
    width: 120px;
    border-radius: 20px;
}

.login-signup-btn{
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1.8rem;
    border-radius: 10px;
    border: 2px solid white;
    background-color: var(--white);
    color: var(--bg-header);
    cursor: pointer;


