*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: sans-serif;
}


.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.sign-in-container{
    width: 400px;
    height: 550px; 
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.sign-in-header{
    width: 400px;
    background:  #1EBEB6;
    height: 25%;
    color: #fff;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.212) 0px 5px 8px;
   
    
}

.sign-in-header h3{
    margin-top: 40px;
    font-size: 28px;
}
.sign-in-header p{
    font-size: 19px;
}

.sign-in-body{
    color: #81CFCF;
}

.row1{
    margin-top: 30px;
    margin-bottom: 22px;
}

.sign-in-body .row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row1 h3{
    font-size: 28px;
    font-weight: 100;
    margin-left: 15%;
   
}

.social-media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15%;
}

.social-media-icons .facebook{
    width: 25px;
    height: 25px;
    cursor: pointer;

}

.social-media-icons .twitter{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

form, form, .row5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input{
    width: 290px;
    padding: 10px 40px;
    border: 1px solid #1EBEB6;
    border-radius: 10px;
    margin-bottom: 20px;

}

form input::placeholder{
    color: #B9BBC2;
    font-size: 16px;
}


form button{
    font-size: 20px;
    background: rgb(30, 190, 182, 0.8);
    color: #fff;
    border: none;
    width: 290px;
    text-align: center;
    padding: 12px 0;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

form button:hover{

    background: rgb(30, 190, 182, 0.6);

   
}

form button:focus{

    background: rgb(30, 190, 182, 1);

   
}





.row4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row4 .remember-me{
    display: flex;
    margin-left: 15%;
    color: #81CFCF;
}

.row4 .remember-me .check{
    margin-right: 10px;
    width: 17px;
    height: 17px;
   
    
   
}
.check:checked{
    background-color: #1EBEB6;
    
}

.row4 .forgotPass{
    margin-right: 15%;
    color: #B9BBC2;
    cursor: pointer;
}

.row4 .forgotPass:hover{
    color: #81CFCF;
    text-decoration: underline;
}

.row5{
    margin-top: 30px;
}
.row5 p{
    color: #B9BBC2;

}
.row5 p a{
    color:#1EBEB6;
    text-decoration: none;
    
}

.row6{
    display: flex;
    flex-direction: column;
    
}

.row6 p{
    overflow: hidden;
    text-align: center;
    color: #B9BBC2;
    margin-bottom: 5px;
}
.row6 p::before, .row6 p::after{
    background: #B9BBC2;
    display: inline-block;
    content: "";
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 35%;
}

.row6 p::before{
    right: 0.5em;
    margin-left: -50%;
}

.row6 p::after{
    left: 0.5em;
    margin-right: -50%;
}

.row6 button{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    color: #fff;
    background: #1EBEB6;
    border: none;
    border-radius: 5px;
    margin: 0 28%;
   
}


.row6 button:hover{

    background: rgb(30, 190, 182, 0.6);

   
}

.row6 button:focus{
    background: rgb(30, 190, 182, 1);
}

input[type=email], input[type=password]{
    outline: none;
}

input[type=email], input[type=password]{
    outline: none;
}


